* {
  box-sizing: border-box;
}
/* navbar */
.container {
  width: 100%;
  height: 145px;
}
.navlinks {
  width: 100%;
  height: 100%;
}
.imgBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.imgBox img {
  width: 100%;
  height: 100%;
}
.navLinkItems {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLinkItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLinkItem ul li a {
  font-family: Vag, sans-serif;
  font-size: 17px !important;
  font-weight: 400;
  word-spacing: 0px;
  color: #06514d;
}
.navLinkItem ul li a:hover {
  color: orange;
}
.navTel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #00524d;
  font-size: 17px;
  font-weight: 700;
  gap: 5px;
}
.barBox a {
  width: 100%;
  height: 1005;
  display: flex;
  text-decoration: none;
  gap: 10px;
}
.barContent {
  color: #00524d;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none !important;
}
.barBoxContent a {
  text-decoration: none !important;
  color: #00524d;
}

.imgBox .navTel img {
  width: 20%;
  height: 25%;
  color: #00524d;
}
/* section firstSlide*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  border: solid 2px white !important;
}

/* section swiperslide */
.secondSlide {
  display: flex;
  margin: 5% 0;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.carousel1 {
  display: flex;
  gap: 20px;
  animation: scrollAnimation 20s linear infinite;
}

.carousel1:hover {
  animation-play-state: paused;
}

.carousel1 div {
  flex: 0 0 33.33%;
  box-sizing: border-box;
}

.secondSlideLink {
  display: block;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.secondSlideLink:hover {
  transform: scale(1.2);
}

.secondSlideLink img {
  max-width: 100%;
  height: auto;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-33.33%);
  }
  50% {
    transform: translateX(-66.66%);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* section mobileCAr */
.mobileCar {
  width: 100%;
  min-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.mobileCarBg {
  width: 100%;
  height: 250px;
  max-height: 250px;
  display: flex;
  margin: 5% 0;
  background: #dd8c33;
}
.mobileCarLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 2%;
}
.mobileCarTitle {
  color: white;
  font-size: 40px !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    sans-serif;
}
.mobileCarLink {
  display: flex;
  flex-direction: column;
  color: white;
}
.mobileCarLink span,
.mobileCarLink span a {
  font-size: 22px;
  color: white;
}

.mobileCarRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 2%;
}
.mobileCar-ImgBox {
  display: flex;
}
.mobileCar-ImgBox img {
  width: 100%;
  height: 85%;
}

/* section konsept */
/* Kapsayıcı div */
.konsept {
  width: 100%;
  margin-bottom: 200px;
}
.konseptTitleBox {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  text-align: center;
}
.display-5 {
  font-weight: 700 !important;
  color: #00524d;
}
.konseptContentBox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
  gap: 20px;
  object-fit: cover;
  overflow: hidden;
  flex-wrap: wrap;
}
.konseptContent1 {
  max-width: 30%;
  overflow: hidden;
}
.backgroundBox {
  display: flex;
  background-image: url("/images/konseptImg/yaninda-1.jpg");
  transition: 1s ease-in-out;
}

.backgroundBox2 {
  display: flex;
  background-image: url("/images/konseptImg/kafe-2.jpg");
  transition: 1s ease-in-out;
}
.backgroundBox3 {
  display: flex;
  background-image: url("/images/konseptImg/kiosk-4.jpg");
  transition: 1s ease-in-out;
}
.backgroundBox:hover,
.backgroundBox2:hover,
.backgroundBox3:hover {
  transform: scale(1.05);
}

.contentBox {
  width: 400px;
  height: 450px;
  flex: 1;
  padding: 15px;
  background-color: rgba(0, 82, 77, 0.734);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

.contentBox2 {
  width: 400px;
  height: 450px;
  flex: 1;
  padding: 15px;
  background-color: rgba(244, 123, 3, 0.734);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

.contentBox img,
.contentBox2 img {
  max-width: 30%;
  height: auto;
}

.contentLink {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 50%;
  margin-left: 10%;
}

.konseptInfo {
  display: block;
  position: relative;
}
.konseptInfo span {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}
.konseptInfo strong {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
  margin-top: -5% !important;
}
.konseptLink {
  display: flex;
  justify-content: space-between;
}
.konseptLink a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/* form */
form .container {
  width: 80% !important;
  border: solid 1px red;
}
.form-group {
  position: relative;
  margin-bottom: 10px;
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.form-control:focus + label,
.form-control:valid + label {
  font-size: 12px;
  transform: translate(-5px, -20px);
  background-color: #fff;
  padding: 0 5px;
  color: #3498db;
}
form h2 {
  color: #00524d;
}
form h5 {
  color: #dd8c33;
}
form p {
  color: red;
}

/* footer */
footer {
  position: relative;
  margin-top: 20%;
  background-color: #00524d !important;
}
footer .row {
  margin-top: 4%;
}
.socialMediaTitle {
  display: flex;
text-align: left;
  margin-left: 16%;
  margin-bottom: 3%;
}
.socialMediaTitle h3{
display: flex;
text-align: left;
}
.footer .row .col-4 .socialMediaLinks{
  display: flex;
  flex-direction: start;
  padding-left: 14%;
}

.footer .row .col-4 .socialMediaLinks a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.footer .row .col-4 .socialMediaLinks a img:hover {
  color: #24262b;
  background-color: #dd8c33;
}
.footer .row .col-4 .socialMediaLinks a img {
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  border-radius: 50%;
}
.adress {
  display: flex;
  object-fit: cover;
  overflow: hidden;
  margin-top: 6%;
}
.adress p {
  width: 100%;
  display: flex;
  text-align: left;
  margin-left: 15%;
}
.companyPhones {
  display: flex;
  justify-content: start;
  text-align: left;
}
.companyPhones span {
  width: 100%;
  display: flex;
  margin-left: 15%;
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: left;
}
.footerLinks ul li{
  list-style: none;
  text-align: left;
  margin-left: 11%;
}
.footerLinks ul li a{
  text-decoration: none;
  color: white;
  line-height: 30px;
}
.footerLinks ul li a:hover{
 color: #dd8c33;
  
}

.footerBtn{
  width: 150px;
  height: 45px;
  max-height: 45px;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  font-size: 20px;
  color: white;
  background-color: #dd8c33;
}
.downloadApp{
  display: block;
  position: relative;
}
.downloadApp .appLinks{
  display: flex;
  margin-left: 15%;
  gap: 10px;
}
.downloadApp span{
  color: #dd8c33;
  position: relative;
  display: flex; 
  margin-top: 3%; 
  margin-left: 30%;
  font-weight: 700;
}
.callCenter{
  display: flex;
  margin-top: 10%;
}
.callCenter img{
  margin-left: 15%;
}